
.btn {
  border: none;
  padding: 0.25rem 1.25rem;
}

.link {
  text-decoration: none;
  color: white;
}
/* Напиши свій код під цим рядком */
.btn.active {
  color: red;
}

.link.active {
  font-weight: 700;
}


.footer {
  display: block;
  width: 100vw;
  background-color: blanchedalmond;
}
html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }